<%= form_with model: [post, post.comments.build], remote: true  do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%# <%= f.hidden_field :post_id, value: post.id %>
  <div class="field">
    <%= f.label :comment ,class: 'my-narrow-input' %><br />
    <%= f.text_field :comments  ,class: 'my-narrow-input'%>
  <%= f.submit " ", class: "btn btn-primary" ,class:"bi bi-send-fill"%>
  </div>
<% end %>
