<nav class="navbar navbar-expand-lg " style="background-color: #09233d;">
 
   <a class="navbar-brand  text-white" style="font-size:4vw" font-family='georgia' style= 'margin-right:50px' >Social</a>
   <br>
  <div class="collapse navbar-collapse">
    <br>
    <% if user_signed_in? %>
    
      <%= button_to " ", root_path, method: :get, style: 'margin-right:40px' ,class:"bi bi-house-door-fill"%>
      <%= button_to "", search_path ,method: :get , style: 'margin-right:40px' , class:"bi bi-search-heart-fill"%>
      <%= button_to '',notification_index_path,method: :get , style: 'margin-right:40px' , class:"bi bi-bell-fill" %>
      <%= button_to " ",profile_index_path,method: :get ,style: 'margin-right:40px' ,class:"bi bi-person-bounding-box"%></i>
      <%= button_to " ",new_post_path,method: :get,  style: 'margin-right:40px' ,class:"bi bi-clipboard-plus-fill"%>
      <%= button_to "",total_user_path, method: :get,  style: 'margin-right:40px' ,class:"bi bi-people-fill"%>
      <%= button_to " ", rooms_path, method: :get, style: 'margin-right:40px' ,class:"bi bi-chat-fill"%>
      <a  style= "color: white;" ,class="nav-link dropdown-toggle dropdown-left" href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
      <nav class="ms-auto"  > 
      <%= current_user.email %>  
      </a>
      <ul class="dropdown-menu dropdown-menu-lg-end dropdown-menu-dark">
        <%= link_to'Edit',edit_user_registration_path,class:"btn btn-outline-success" ,class: "dropdown-item"  %>
        <%= link_to'Logout', destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },class:"btn btn-outline-success" ,class: "dropdown-item"  %>
      </nav>
     <% end %>
  </div>
</nav>

