<% if user_signed_in?%>
   <button type="button" class="btn btn-success">
   <%=link_to "Stories" ,stories_index_path %><br>
   </button><br>
    <% @posts.each do |post|%>
        <%if post.post_image.attached? %>
           <b> <%= link_to post.user&.email, profile_path(post.user), style:"color: black"%></b> <br>
            <%= image_tag(post.post_image , :size => "300x250") %><br>
            <div class="b ">
            <%= button_to " ", post_likes_path(post), class:"bi bi-balloon-heart-fill", style:"color: black" %>
            <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
        <div class="a">
        <%= render 'comments/form', post: post,class: "btn  btn-sm btn-right"  %>
        <%= render partial: "comments/comment", locals: { comments: post.comments } %>
         </div>
            </b>
        <%end%>
        <br>
    <% end %>
<%end%>
