<% if user_signed_in?%>
   <button type="button" class="btn btn-success">
   <%=link_to "Stories" ,stories_index_path %><br>
   </button><br>
    <% @posts.each do |post|%>
        <%if post.post_image.attached? %>
            <%= link_to post.user&.email, profile_path(post.user)%> <br>
            <%= image_tag(post.post_image , :size => "300x250") %><br>
             <p class = "text-muted"><%=  post.created_at %> ago </p>
            <%= button_to "Like", post_likes_path(post) %>
             <%= post&.likes&.count %>    
              
           <div>
            <%= render 'comments/form', post: post %>
            <%= render partial: "comments/comment", locals: { comments: post.comments } %>
           <div>
            </div>
  
        <%end%>
    <% end %>
<%end%>
