<% if user_signed_in?%>
  <div class = 'top'> 
    <div class='imgsml'>
      <div class="d-flex">
      <% @users.each do|user| %>
        <% @stories.each do |story| %>
          <% if current_user == user || (current_user.following?(user) && user.stories.any? { |story| story.image.attached? }) %>
            <a href="/stories/<%=story.id %>">
              <%=image_tag(story.image,size: '100x100',:class=> "img-circular")if story.image.attached? %>
              <%=user.name%>
            </a>
          <% end %>
        <%end%>
      <% end %>
      </div>
    </div>
  </div>

<button type="button" class="btn btn-danger"><%=link_to "Story",stories_new_path%></button><br>
   </button><br>
    <% @posts.each do |post|%>
        <%if post.post_image.attached? %>
            <a>
              <div class='imgsml'>
                <%=image_tag(post.user.profile_image,size: '100x100',:class=> "img-circular")if post.user.profile_image.attached? %>
                <b><%= link_to post.user&.email, profile_path(post.user), style:"color: black"%></b> <br>
              </div> 
            </a>
          
        <%= image_tag(post.post_image , :size => "300x300") %><br>
       
          <div class="b ">
            <%= button_to " ", post_likes_path(post), class:"bi bi-balloon-heart-fill", style:"color: black" %>
            <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
            <div class= "a">
              <%= button_to " ", post_comments_path(post) ,class:"bi bi-chat", method: :get%></p> 
            </div>
            <div class = 'col'>
            <%= render 'comments/form', post: post%>
            <%= render partial: "comments/comment", locals: { comments: post.comments } ,class: "a" %>   
            </div>
          </div>
            </b>
        <%end%>
        <br>
    <% end %>
<%end%>
