<div class = "center">
  <%=search_form_for @q ,url: :search  do |f| %>
   <div class = "form-group">

    <%= f.text_field :name_cont, class: "form-control"%>
    <%=f.submit class:"btn bt-primary btn-lg" %>
    </div>
  <% end %>
  <ul>
    <% @users.each do |user| %>
    <img src="" class="card-img-top">
        <div class ="card-body">
          <li>
            <a href="<%= profile_path(user) %>">
              <div class='imgsml'>
                <%=image_tag(user.profile_image,size: '100x100',:class=> "img-circular")if user.profile_image.attached? %>
                <%= user.name %>
              </div> 
            </a>
          </li>
        </div>
    <% end %>
  </ul>
</div>