<% @users.each do |user|%>
<% if current_user.following?(user)%>
    <%= link_to user.email ,profile_path(user) , style:"color: black"%> is following you
    <div  class="btn  btn-lg float-right" >
    <%= button_to "Unfollow", unfollow_path(user) ,class: "btn btn-dark" %>
    </div>
<% elsif current_user.sent_follow_request_to?(user) %>
    <%= link_to user.email, profile_path(user), style:"color: black"%>
    <div class="btn  btn-lg float-right" >
    <%= button_to "cancle follow request", cancle_path(user) ,class:"btn btn-secondary"%>
    </div>
<% else %>
    <%= link_to user.email, profile_path(user), style:"color: black"%>
      <div class="btn  btn-lg float-right">
    <%= button_to "Follow", follow_path(user) ,class:"btn btn-primary"%>
</div>    
<%end%>
<br>
<% end %>