  <div class="notice">
  <%= form_with model: @story  do |form|  %>
    <%= form.label :image %><br />
    <%= form.file_field :image %>
  <%= form.text_area :content %>
  <%= form.submit 'Create Story' %>
<% end %>
</div>
