<% current_user.follow_requests.each do |request|%>
    <%= request.followerable.email%> want to follow you
    <%= button_to "Accept", accept_path(request.followerable), style:"color: black", class:"btn btn-success"%>
    <%= button_to "Decline", decline_path(request.followerable), style:"color: black", class:"btn btn-danger"%>
<% end %>

<% @users.each do |user|%>
    <% if current_user.following?(user)%>
    <div class="imgsml" >
        <%=image_tag(user.profile_image,size: '100x100',:class=> "img-circular")if user.profile_image.attached? %>
        <%= link_to user.email, profile_path(user)%> is following you 
    </div>
    <% end %><br>
<%end%>       
 

    