<div class="container text-center">
    <div class="row row-cols-3">
    <%@posts.each do |post|%>
    <div class="col gap-3">

      <%if post.post_image.attached? %>

        <%= image_tag(post.post_image , :size => "300x300") %>
        <p><%= post.content %>
        <%= link_to " ", post, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } ,class:"bi bi-trash3-fill" , style:"color: red;" %></p>
        <div class="row row-cols-2">
          <div class= "col">
            <div class="b">
              <%= button_to " ", post_likes_path(post), class:"bi bi-balloon-heart-fill", style:"clor: black", remote: true %>
              <%= turbo_frame_tag "like_count_#{post.id}" do %>
                <%= post.likes.count %> likes
            <% end %>
            </div>
            <div class= "a">
              <%= button_to " ", post_comments_path(post) ,class:"bi bi-chat", method: :get%></p> 
            </div>
          </div>
          <div class = 'col'>
            <%= render 'comments/form', post: post%>
            <%= render partial: "comments/comment", locals: { comments: post.comments } ,class: "a" %>
            
          </div>
        </div>  
        
        <br>
      <%end%>
   
     <br>

    </div>
    <% end %>
</div>
