<%@posts.each do |post|%>

  <%if post.post_image.attached? %>
    <%= image_tag(post.post_image , :size => "300x300") %>
    <%= link_to "Delete Post", post, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    <p><%= post.content %></p>
    <%= button_to "Like", post_likes_path(post) %>
    <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>

    <div>
      <%= render 'comments/form', post: post %>
      <%# <%= render partial: "comments/comment", locals: { comments: post.comments }%> 
    </div>
    <p class = "text-muted"><%= post.created_at %> ago </p>
    <br>

  <%end%>
  <br>

<% end %>