<%@posts.each do |post|%>

  <%if post.post_image.attached? %>
    <%= image_tag(post.post_image , :size => "200x150") %>
    <p><%= post.content %></p>
   <%= button_to "Like", post_likes_path(post), method: :get %>
   <%# <%=post.likes.count%> 
    <div>
      <input type="text"
      ><%= button_to 'Comment',method: :get%>
    </div>
    <%= link_to "Delete Post", post, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    <p class = "text-muted"><%= post.created_at %> ago </p>
    <br> 
  <%end%>
  <br>
<% end %>