
<div class="center">
    <div class="row">
      <div class="col-md-8">
       <h3><b>
          <%= current_user.email %></b>
            <div class="col-md-4">
                <p>
                    <%= button_to "followers" ,friend_index_path, method: :get , class:'float-right text-dark'%>
                    <%= current_user.followers.count %>
                </p>
                <%= button_to "following" ,following_path, method: :get%>
                <%= current_user.following.count %>
            </div>
        </h3>
<br>
<br>

<p class= 'text-Bold'> posts <%= @posts.count%> </p>
<%= render template: 'posts/index'%>

</div>

</div>
</div>
 

   
