<div class="container "> 
  <div class="row row-cols-2">
    <div class="col">
      <img src="" class="card-img-top">
        <div class='imgsml'>
          <%=image_tag( current_user.profile_image,size: '100x100',class:"img-circular")if current_user.profile_image.attached? %>
        </div>
        <b>Username - </b><%=current_user.name%><br>
        <b> Email - </b><%=current_user.email%><br>
        <b> Bio - </b><%=current_user.bio%><br>
    </div>
     
    <div class = "col"> 
        <table class="table">
          <thead>
          <tr>
            <th>
              <p>
                Post
              <p>
            </th>
            <th>
              <%= button_to "followers" ,friend_index_path, method: :get , class:' btn btn-lg ' %>
            </th>
            <th>
              <%= button_to "following" ,following_path, method: :get ,class:'btn btn-lg'%>
            </th>
          </tr>
          </thead>
          <tbody> 
            <tr>
              <td> <%= @posts.count %> </td>
              <td> <%=  current_user.followers.count %> </td>
              <td> <%= current_user.following.count  %> </td>
            </tr>
          </tbody>
        </table>   
      </div> 
    </div>    
                          
         
    </div>
  </div>
</div>
</div>
<div class = 'top'> 
  <div class='imgsml'>
    <li>
      <% @stories.each do |story| %>
        <% if story.image.attached? && story.expires_at && story.expires_at >= Time.now %>
          <% if story.user == current_user %>
            <%=image_tag(story.image,size: '100x100',:class=> "img-circular")%> 
            <%= link_to "Delete", story, method: :delete, data: { confirm: "Are you sure?" } %>
          <%end%>
        <%end%>
      <%end%> 
    <li>
  </div>
</div>
<button type="button" class="btn btn-success"><%=link_to "Story",new_story_path%></button><br>
</div>
</div>
<%= render template: 'posts/index'%>
