<div class="card" style="width: 25rem;">
    <img src="" class="card-img-top">
    <div class ="card-body">
      <div class='imgsml'>
        <%=image_tag( current_user.profile_image,size: '100x100',:class=> "img-circular")if current_user.profile_image.attached? %><br>
         <b>Email-</b><%= current_user.email%><br>
        <b>Bio-</b><%= current_user.bio %>
      </div>
    </div>
</div>
<div class="center">
    <div class="row">
      <div class="col-md-8">
      
       <h3>
            <div class="col-md-4">
            
               <strong>Username-</strong><%= current_user.name %>
        </h3>
        <h2>
            <div class="row">
            <p>
                <div class="col-sm-3 ml-2">   
                 <div class="mx-auto" style="width: 200px;"> 
                    <p  class='btn btn-lg',style="width: 200px">Post 
                     <br><%= @posts.count %> </p>
                </div>
                </div>

                <div class="col-sm-3 ml-2">
                 <div class="mx-auto" style="width: 200px;">
                    <%= button_to "followers" ,friend_index_path, method: :get , class:' btn btn-lg ', style: 'margin-right:100px' %>
                    <%=  current_user.followers.count %>
                </div>
                </div>
               
                <div  class="col-sm-6 ml-4"> 
                <div class="mx-auto" style="width: 200px;"> 
               
                    <%= button_to "following" ,following_path, method: :get ,class:'btn btn-lg',style:"width: 200px"%>
                    <%= current_user.following.count  %>
                   
                </div>
                </div>
                
            </div>    
        </h2>
<br>
<br>
<%= render template: 'posts/index'%>

</div>
</div>