
 <div class="row">

 <div class="col-md-8">
 <h3>
 <%= @user&.email %>
 <div class="col-md-4 ">
    <%= button_to "followers" ,friend_index_path%>
    <%= current_user.followers.count %>
    <%= button_to "following" ,following_path%>
    <%= current_user.following.count %>
    <br>
 <%= render partial: 'profile/button'%> 
 <br>
 <%= render template: 'posts/show'%>

 </div>
 </div>
  </div>
 