<div class="container "> 
  <div class="row row-cols-2">
    <div class="col">
      <img src="" class="card-img-top">
        <div class='imgsml'>
        <%=image_tag( @user.profile_image,size: '100x100',:class=> "img-circular")if @user.profile_image.attached? %>
        </div><br>
        <strong>Username-</strong><%= @user.name %><br>
         <b>Email-</b><%= @user.email%><br>
         <b>Bio-</b><%= @user.bio %><br>
      </div>
 <div class = "col"> 
        <table class="table">
          <thead>
          <tr>
            <th>
              <p>
                Post
              <p>
            </th>
            <th>
              <%= button_to "followers" ,friend_index_path, method: :get , class:' btn btn-lg ' %>
            </th>
            <th>
              <%= button_to "following" ,following_path, method: :get ,class:'btn btn-lg'%>
            </th>
          </tr>
          </thead>
          <tbody> 
            <tr>
              <td> <%= @posts.count %> </td>
              <td> <%=  @user.followers.count %> </td>
              <td> <%= @user.following.count  %> </td>
            </tr>
          </tbody>
        </table>   
      </div> 
    </div>    
                          
         
    </div>
  </div>
</div>
</div>
<div class="text-center">
<% if current_user.following?(@user)%>
  <%= button_to "Unfollow", unfollow_path(@user) ,class: "btn btn-dark" %>
<% elsif current_user.sent_follow_request_to?(@user) %>
  <%= button_to "cancle follow request", cancle_path(@user) ,class:"btn btn-secondary"%>
<% else %>
  <%= button_to "Follow", follow_path(@user) ,class:"btn btn-primary"%>
<%end%>
</div><br>
        </h2>
         <%= render template: 'posts/show'%>

 