<!DOCTYPE html>
<html>
  <head>
    <title>SocialPlatform</title>
      <link rel="stylesheet" type="text/css" href="styles.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%=render partial: "users/navbar" %>
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p> 
    <%= yield %>
  </body>
</html>
